<section class="space-y-8">
      <div>
        <h2 class="text-3xl font-bold">Dashboard</h2>
        <p class="text-zinc-500">
          Vue d'ensemble de ta recherche.
        </p>
      </div>

      <div class="grid grid-cols-4 gap-4">
        <div class="rounded-2xl bg-white p-5 shadow-sm">
          <p class="text-sm text-zinc-500">Offres suivies</p>
          <p class="mt-2 text-3xl font-bold">18</p>
        </div>

        <div class="rounded-2xl bg-white p-5 shadow-sm">
          <p class="text-sm text-zinc-500">Candidatures</p>
          <p class="mt-2 text-3xl font-bold">7</p>
        </div>

        <div class="rounded-2xl bg-white p-5 shadow-sm">
          <p class="text-sm text-zinc-500">Entretiens</p>
          <p class="mt-2 text-3xl font-bold">2</p>
        </div>

        <div class="rounded-2xl bg-white p-5 shadow-sm">
          <p class="text-sm text-zinc-500">Score moyen</p>
          <p class="mt-2 text-3xl font-bold">74%</p>
        </div>
      </div>

      <div class="rounded-2xl bg-white p-6 shadow-sm">
        <h3 class="mb-4 text-lg font-semibold">Actions recommandées</h3>

        <ul class="space-y-3">
          <li class="rounded-xl bg-zinc-50 p-4">
            Adapter ton CV pour l'offre Angular Data Product.
          </li>
          <li class="rounded-xl bg-zinc-50 p-4">
            Préparer un exemple solide sur migration Angular.
          </li>
          <li class="rounded-xl bg-zinc-50 p-4">
            Relancer le recruteur sous 48h.
          </li>
        </ul>
      </div>
    </section>